/.idea/
/venv/

/__pycache__/
lib/quizzinator/__pycache__/
tests/quizzinator/__pycache__/
tests/quizzinator/test_utils/__pycache__/

/data/*/experiments/
/data/*/comparisons/
/data/*/html/

/figures/

